/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/******************************************* Mobile first *******************************************/
body {
  font-size: 1rem;
  color: var(--secondary);
  font-family: var(--stolzl);
  font-weight: var(--regular);
}

h1 {
  font-family: var(--gopher);
  font-size: var(--h1-size);
  font-weight: var(--bold);
  line-height: 85px;
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--bold);
  line-height: 87px;



}

h3 {
  font-family: var(--gopher);
  font-size: var(--h3-size);
  font-weight: var(--bold);
  line-height: 36px;
  letter-spacing: -3%;

}

h1,
h2,
h3 {
  filter: contrast(1.2) saturate(1.3) blur(2px);
  mix-blend-mode: screen;
  text-shadow:
    -3px 0 0 cyan,
    -6px 0 0 blue,
    +3px 0 0 yellow,
    +6px 0 0 red;
}

h4 {
  font-size: var(--h4-size);
  font-weight: var(--book);
  line-height: 52px;
  letter-spacing: -3%;
}

h5 {
  font-size: var(--h5-size);
  font-weight: var(--book);
  line-height: 31px;
}

p {
  font-size: var(--body1-size);
  font-weight: var(--book);
  line-height: 18px;
  text-transform: uppercase;
}

/* Classes for text styling */

.h12 {
  font-size: var(--h12-size);
  font-family: var(--gopher);
  line-height: 57px;
  font-weight: var(--bold);
}

.nav {
  font-size: var(--nav-size);
  line-height: 12px;
  font-weight: var(--bold);
}

.tag {
  font-family: var(--gopher);
  font-size: var(--tag-size);
  line-height: 18px;
}

.cap1 {
  font-size: var(--cap1-size);
  font-weight: var(--book);
}

.cap2 {
  font-size: var(--cap2-size);
  line-height: 16px;
}

.cap3 {
  font-size: var(--cap3-size);
  font-weight: var(--book);
  line-height: 14px;
}

.ctal {
  font-family: var(--gopher);
  font-size: var(--ctal-size);
  line-height: 20px;
}

.ctam {
  font-family: var(--gopher);
  font-size: var(--ctam-size);
  line-height: 20px;
}

.ctas {
  font-family: var(--gopher);
  font-size: var(--ctas-size);
  font-weight: var(--medium);
  line-height: 9px;
}

/********************************************** Desktop *************************************/

@media (min-width: 850px) {
  h1 {
    font-size: var(--h1-size-desk);
    line-height: 200px;
    font-weight: var(--medium);
  }

  h2 {
    font-size: var(--h2-size-desk);
    line-height: 161px;
  }

  h3 {
    font-size: var(--h3-size-desk);
    line-height: 105px;
  }

  /* h4 {
    font-size: var(--h4-size-desk);
    line-height: 34px;
  }

  h5 {
    font-size: var(--h5-size-desk);
    line-height: 28px;
  }

  p {
    font-size: var(--body1-size-desk);
    line-height: 24px;
  } */

  /* Classes for text styling */

  /* /* .sub1 {
    font-size: var(--sub1-size-desk);
    line-height: 28px;
  }

  .sub2 {
    font-size: var(--sub2-size-desk);
    line-height: 24px;
  }

  .body2 {
    font-size: var(--body2-size-desk);
    line-height: 24px;
  }

  .cap1 {
    font-size: var(--cap1-size-desk);
    line-height: 16px;
  }

  .cap2 {
    font-size: var(--cap2-size-desk);
    line-height: 16px;
  }

  .cap3 {
    font-size: var(--cap3-size-desk);
    line-height: 14px;
  } */

  .ctal {
    font-size: var(--ctal-size-desk);
    line-height: 20px;
  }

  /* .ctam {
    font-size: var(--ctam-size-desk);
    line-height: 16px;
  }

  .ctas {
    font-size: var(--ctas-size-desk);
    line-height: 16px;
  } */
}